---

network:
    ethernets:
        enp0s3:
            dhcp4: true
        enp0s8:
            dhcp4: no
            addresses: [{% if inventory_hostname_short=="node0" %}192.168.1.2/24{% endif %}{% if inventory_hostname_short=="node1" %}192.168.1.3/24{% endif %}]
    version: 2
