acl abc {
  {% for ip in localnets %}
    {{ ip }};
  {% endfor %}
};
options {
	directory "/var/cache/bind";

	forwarders {
{% for ip in forwarders%}
    {{ ip }};
{% endfor %}
	};

	dnssec-validation auto;
  allow-query {
    abc;
  };
	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };
};
