$TTL	604800
@	IN	SOA	itinfra. root.itinfra. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.itinfra.
	IN	NS	infra02.itinfra.
102	IN	PTR	infra01.itinfra.
103	IN	PTR	infra02.itinfra.
