$TTL	604800
@	IN	SOA	itinfra. root.itinfra. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	node0.itinfra.
	IN	NS	node1.itinfra.
2       IN      PTR     node0
3       IN      PTR     node1
2	IN	PTR	node0.itinfra.
3	IN	PTR	node1.itinfra.
